{% extends 'base.html' %}
{% block content %}
    <body>
        <div class="container bg-light shadow-md p-5 form-layout">
            <h3> Create project </h3>
            <hr>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{form.name}}
                <small>
                    {{form.name.errors}}
                </small>
                <br>
                {{form.description}}
                <small>
                    {{form.description.errors}}
                </small>
                <br>
                
                <button type="submit" class="btn btn-primary"> 
                    Create project &nbsp; <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                &nbsp;
                <a href="{% url 'project-listing' %}" class="btn btn-secondary"> 
                    Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </form>
        </div>
        <br>
    </body>

{% endblock %}




